---
- name: Monitor before benchmark
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Monitor
      shell: |
        . /etc/profile && bash PATH_TO_SCRIPTS/status/statsDB_CPU_DISK_NET.sh {{ expName }} {{workload}} {{ stage }} {{ resultDir }} {{ codeBase }} {{ diskDevice }} {{ networkDevice }} {{ scheme }}
      vars:
        expName: "SampleExpName"
        workload: "workload_template"
        stage: "Before-run"
        resultDir: "PATH_TO_RESULT_DIR"
        codeBase: "PATH_TO_SERVER"
        diskDevice: "DISK_DEVICE"
        networkDevice: "NETWORK_DEVICE"
        scheme: "normal"
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"


- name: Enable auto compaction
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Enable auto compaction
      shell: |
        . /etc/profile && [ "ENABLE_AUTO_COMPACTION" = "true" ] && cd PATH_TO_SERVER && bin/nodetool NODETOOL_OPTION enableautocompaction  ycsb ENABL_COMPACTION_CFS
      register: command_result
      ignore_errors: true


- name: Setup log levels
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Setup log levels
      shell: |
        . /etc/profile && cd PATH_TO_SERVER && bin/nodetool NODETOOL_OPTION setlogginglevel org.apache.cassandra LOG_LEVEL && bin/nodetool NODETOOL_OPTION setlogginglevel ROOT error
      register: command_result
      ignore_errors: true

# - name: Setup horse
#   hosts: cassandra_servers
#   become: yes
#   become_user: ymren
#   tasks:
#     - name: Setup horse
#       shell: |
#         . /etc/profile && cd PATH_TO_SERVER && bin/nodetool sethorse -ss STEP_SIZE -ot OFFLOAD_THRESHOLD -rt RECOVER_THRESHOLD
#       register: command_result
#       ignore_errors: true

- name: Page cache management
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Clear page cache
      shell: |
          echo "SUDO_PASSWD" | sudo -S sh -c "echo 1 > /proc/sys/vm/drop_caches"
      register: command_result
      ignore_errors: true
    # - name: Clear page cache
    #   shell: |
    #     nohup bash -c 'while true; do echo "SUDO_PASSWD" | sudo -S sh -c "echo 1 > /proc/sys/vm/drop_caches"; sleep 10; done' >/dev/null 2>&1 &
    #   register: command_result
    #   ignore_errors: true
    # - name: Limit the memory of cassandra process
    #   shell: |
    #     . /etc/profile && bash PATH_TO_SCRIPTS/status/manageCache.sh {{ sudoPassword }} {{ memoryLimit }}
    #   vars:
    #     sudoPassword: "SUDO_PASSWD"
    #     memoryLimit: "MEMORY_LIMIT"
    #   register: command_result
    #   ignore_errors: true

- name: Run benchmark
  hosts: cassandra_clients
  become: yes
  become_user: ymren
  tasks:
    - name: Execute runDB.sh
      shell: bash PATH_TO_SCRIPTS/run/runDB.sh {{ recordNumber }} {{ operationNumber }} {{ keyLength }} {{ fieldLength }} {{ threads }} {{ workload }} {{ requestDistribution }} {{ PathToClient }} {{ coordinator }} {{ scheme }} {{ enableHorse }} {{ hostName }} {{ consistencyLevel }}
      vars:
        coordinator: "COORDINATORS"
        recordNumber: 10000000
        operationNumber: 10000000
        keyLength: 24
        fieldLength: 1000
        threads: 64
        workload: "workload_template"
        requestDistribution: "uniform"
        PathToClient: "PATH_TO_CLIENT"
        scheme: "normal"
        enableHorse: "ENABLE_HORSE"
        hostName: "{{ inventory_hostname }}"
        consistencyLevel: "CONSISTENCY"
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"
    - name: Wait until benchmark is done
      pause:
        seconds: 5

# - name: Get write stall metrics
#   hosts:  cassandra_servers
#   become: true
#   become_user: ymren
#   tasks:
#   - name: Get write stall metrics
#     shell: |
#       . /etc/profile && cd PATH_TO_SERVER && bin/nodetool NODETOOL_OPTION writestall
#     register: command_result
#     ignore_errors: true

- name: Get request distribution
  hosts:  cassandra_servers
  become: true
  become_user: ymren
  tasks:
  - name: Get request distribution
    shell: |
      . /etc/profile && cd PATH_TO_SERVER && bin/nodetool NODETOOL_OPTION getbreakdown KEYSPACE > PATH_TO_RESULT_DIR/breakdown.txt && bin/nodetool NODETOOL_OPTION requestDist
    register: command_result
    ignore_errors: true

- name: Monitor after benchmark
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Monitor
      shell: |
        . /etc/profile && bash PATH_TO_SCRIPTS/status/statsDB_CPU_DISK_NET.sh {{ expName }} {{ workload }} {{ stage }} {{ resultDir }} {{ codeBase }} {{ diskDevice }} {{ networkDevice }} {{ scheme }}
      vars:
        expName: "Exp#1-Degraded-Run-Cassandra-DATAPATH"
        workload: "workload_template"
        stage: "After-normal-run"
        resultDir: "PATH_TO_RESULT_DIR"
        codeBase: "PATH_TO_SERVER"
        diskDevice: "DISK_DEVICE"
        networkDevice: "NETWORK_DEVICE"
        scheme: "normal"
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"

# - name: kill page cache flusher
#   hosts: cassandra_servers
#   become: yes
#   become_user: ymren
#   tasks:
#     - name: kill page cache flusher
#       shell: |
#         kill -9 $(ps aux | grep drop_caches| grep -v grep | awk 'NR == 1'  | awk {'print $2'})
#       register: command_result
#       ignore_errors: true

- name: Backup Logs
  hosts: cassandra_servers
  become: true
  become_user: ymren
  tasks:
    - name: copy logs
      shell: bash PATH_TO_SCRIPTS/run/copyLogs.sh {{ record_count }} {{ operation_count }} {{ threads }} {{ workload }} {{ expName }} {{ keyspace }} {{ resultDir }} {{ logDir }}
      vars:
        record_count: 10000000
        operation_count: 10000000
        threads: 64
        workload: "workload_template"
        expName: "Exp#1-Normal-Run-Cassandra-DATAPATH"
        keyspace: "ycsb"
        resultDir: "PATH_TO_RESULT_DIR"
        logDir: "PATH_TO_LOG_DIR"
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"
