# ---
# - name: Restart Cassandra Server
#   hosts: cassandra_servers
#   become: yes
#   become_user: ymren
#   tasks:
#     - name: Startup with current data
#       command: bash PATH_TO_SCRIPTS/run/restartCassandra.sh {{ configurationFile }} {{ projectBaseDir }} {{ memtableSize }} {{ motivation }} {{ rebuild }} {{useDirectIO}} {{ branch }}
#       vars:
#         configurationFile: "PATH_TO_CODE_BASE/conf/cassandra.yaml"
#         projectBaseDir: "PATH_TO_CODE_BASE"
#         memtableSize: "128MiB"
#         motivation: "false"
#         rebuild: "false"
#         useDirectIO: "false"
#         branch: "main"
#       register: command_result
#       ignore_errors: true
#     - name: Fail the play if the previous command did not succeed
#       fail: msg="the command failed"
#       when: "'FAILED' in command_result.stderr"
#     - name: Wait until cold startup is done
#       pause:
#         seconds: 120


---
- name: Initialize the cluster
  hosts: cassandra_servers
  become: yes
  become_user: ymren
  tasks:
    - name: Initialize the cluster
      command: bash PATH_TO_SCRIPTS/run/restartCassandra.sh {{ configurationFile }} {{ projectBaseDir }} {{ memtableSize }} {{ motivation }} {{ rebuild }} {{useDirectIO}} {{ branch }} {{ schedulingInitialDelay }} {{ schedulingInterval }} {{ statesUpdateInterval }} {{ readSensitivity }}
      vars:
        configurationFile: "PATH_TO_CODE_BASE/conf/cassandra.yaml"
        projectBaseDir: "PATH_TO_CODE_BASE"
        memtableSize: "128MiB"
        motivation: "false"
        rebuild: "false"
        useDirectIO: "false"
        branch: "main"
        schedulingInitialDelay: 60
        schedulingInterval: 10
        statesUpdateInterval: 10
        readSensitivity: 0.9
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"
- name: Restart seed nodes
  hosts: cassandra_seeds
  become: yes
  become_user: ymren
  tasks:
    - name: Restart seed nodes
      shell: . /etc/profile && cd PATH_TO_CODE_BASE && nohup bin/cassandra >logs/debug.log 2>&1 &
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"
    - name: Wait until cold startup is done
      pause:
        seconds: 30

- name: Restart seed nodes
  hosts: cassandra_data_nodes
  become: yes
  serial: 1
  become_user: ymren
  tasks:
    - name: Restart seed nodes
      shell: . /etc/profile && cd PATH_TO_CODE_BASE && nohup bin/cassandra >logs/debug.log 2>&1 &
      register: command_result
      ignore_errors: true
    - name: Fail the play if the previous command did not succeed
      fail: msg="the command failed"
      when: "'FAILED' in command_result.stderr"
    - name: Wait until cold startup is done
      pause:
        seconds: 50
